.settings/
*.mitk
*.tif
*.so*
.cproject
.project
.settings/
Debug/*
deps/*
glm
test-images
/Debug/
/AntTweakBar

log.txt
log_ls.txt
*.bin
#*.txt
*.bmp
*.mask
/Release/
/Debug-so/
/Debug-dev/
/dev-executable/
/dev-shared/
/python/*.txt
run_batch_*
final_stats*
